|Variable| Data Type| Description| 
|----|----|----|
area_name| Categorical| Nasme of the lacal authority region|

In [4]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import seaborn as sns
import matplotlib.pyplot as plt

# ----------------------------------------------------

df = pd.read_csv("Cardio_Vascular_Disease.csv")
df.info()
df.head()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 385 entries, 0 to 384
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   area_name   385 non-null    object
 1   area_code   385 non-null    object
 2   Population  309 non-null    float64
 3   Poverty     309 non-null    float64
 4   CVD         309 non-null    float64
 5   overweight  313 non-null    float64
 6   smokers     378 non-null    float64
 7   wellbeing   370 non-null    float64
dtypes: float64(6), object(2)
memory usage: 24.2+ KB

,Population,Poverty,CVD,overweight,smokers,wellbeing
count,3.090000e+02,309.000000,309.000000,313.000000,378.000000,370.000000
mean,1.748044e+05,19.340453,12.423948,25.521571,13.073545,7.422811
std,1.161093e+05,3.462313,2.168280,5.585269,3.756302,0.232264
min,1.960000e+03,12.900000,7.900000,10.243200,3.200000,6.610000
25%,1.006400e+05,16.900000,10.900000,21.634400,10.725000,7.280000
50%,1.352750e+05,18.700000,12.300000,25.518410,12.800000,7.410000
75%,2.166000e+05,21.400000,14.100000,29.458070,15.300000,7.560000
max,1.056970e+06,30.700000,17.800000,40.216330,27.800000,8.170000

In [3]:

#  Check Missing and Duplicate Rows (R: colSums(is.na), sum(duplicated) equivalents)
print("\n--- Missing Values Count per Variable ---")
print(df.isnull().sum()) # Equivalent to R's colSums(is.na(cvd_data))

print("\n--- Duplicate Rows Count ---")
print(df.duplicated().sum()) # Equivalent to R's sum(duplicated(cvd_data))

# Remove rows where Population, Poverty, CVD, and overweight are ALL NA
# We use ~ (not) & (.isna()) in Pandas.
initial_rows = len(df)
df_cleaned = df.loc[~(df['Population'].isna() & 
                      df['Poverty'].isna() & 
                      df['CVD'].isna() & 
                      df['overweight'].isna())].copy()

print(f"\n--- 2A. Removed rows where all key variables are NA ---")
print(f"Rows before removal: {initial_rows}")
print(f"Rows after removal: {len(df_cleaned)}")
# Impute remaining NAs in specific columns with the mean of that column
# We use Pandas' fillna(df.mean()).
cols_to_impute = ['Population', 'smokers', 'wellbeing', 'Poverty', 'overweight']

for col in cols_to_impute:
    # Fill NA values in the column with the mean of the remaining values in that column.
    df_cleaned[col] = df_cleaned[col].fillna(df_cleaned[col].mean())

print(f"\n--- 2B. Mean Imputation of Remaining NAs Completed ---")
print(df_cleaned[cols_to_impute].isnull().sum()) # Verify that NAs are 0 for these columns

# Finally, remove rows where the dependent variable (CVD) is missing
before_cvd_filter = len(df_cleaned)
df_cleaned = df_cleaned.dropna(subset=['CVD'])

print(f"\n--- 2C. Rows with NA in CVD Removed ---")
print(f"Rows before CVD NA removal: {before_cvd_filter}")
print(f"Rows after CVD NA removal: {len(df_cleaned)}")

# Final verification of all missing values and dimension comparison (R: colSums(is.na), dim equivalents)
print("\n--- 3. Final Missing Value Verification ---")
print(df_cleaned.isnull().sum())

print(f"\n--- Final Data Dimension Comparison ---")
print(f"Original Data Rows: {len(df)}")
print(f"Cleaned Data Rows: {len(df_cleaned)}")

print("\n--- Final Cleaned Data Summary Statistics ---")
print(df_cleaned.describe())

--- Data Structure Check (Python: df.info()) ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 385 entries, 0 to 384
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   area_name   385 non-null    object
 1   area_code   385 non-null    object
 2   Population  309 non-null    float64
 3   Poverty     309 non-null    float64
 4   CVD         309 non-null    float64
 5   overweight  313 non-null    float64
 6   smokers     378 non-null    float64
 7   wellbeing   370 non-null    float64
dtypes: float64(6), object(2)
memory usage: 24.2+ KB

--- Summary Statistics (Python: df.describe()) ---
         Population     Poverty         CVD  overweight     smokers  \
count  3.090000e+02  309.000000  309.000000  313.000000  378.000000
mean   1.748044e+05   19.340453   12.423948   25.521571   13.073545
std    1.161093e+05    3.462313    2.168280    5.585269    3.756302
min    1.960000e+03   12.900000    7.900000   10.243200    3.200000
25%    1.006400e+05   16.900000   10.900000   21.634400   10.725000
50%    1.352750e+05   18.700000   12.300000   25.518410   12.800000
75%    2.166000e+05   21.400000   14.100000   29.458070   15.300000
max    1.056970e+06   30.700000   17.800000   40.216330   27.800000

        wellbeing
count  370.000000
mean     7.422811
std      0.232264
min      6.610000
25%      7.280000
50%      7.410000
75%      7.560000
max      8.170000

--- Missing Values Count per Variable ---
area_name      0
area_code      0
Population    76
Poverty       76
CVD           76
overweight    72
smokers        7
wellbeing     15
dtype: int64

--- Duplicate Rows Count ---
0

--- 2A. Removed rows where all key variables are NA ---
Rows before removal: 385
Rows after removal: 313

--- 2B. Mean Imputation of Remaining NAs Completed ---
Population    0
smokers       0
wellbeing     0
Poverty       0
overweight    0
dtype: int64

--- 2C. Rows with NA in CVD Removed ---
Rows before CVD NA removal: 313
Rows after CVD NA removal: 309

--- 3. Final Missing Value Verification ---
area_name     0
area_code     0
Population    0
Poverty       0
CVD           0
overweight    0
smokers       0
wellbeing     0
dtype: int64

--- Final Data Dimension Comparison ---
Original Data Rows: 385
Cleaned Data Rows: 309

--- Final Cleaned Data Summary Statistics ---
         Population     Poverty         CVD  overweight     smokers  \
count  3.090000e+02  309.000000  309.000000  309.000000  309.000000
mean   1.748044e+05   19.340453   12.423948   25.545568   12.849020
std    1.161093e+05    3.462313    2.168280    5.613937    3.790232
min    1.960000e+03   12.900000    7.900000   10.243200    3.200000
25%    1.006400e+05   16.900000   10.900000   21.634400   10.500000
50%    1.352750e+05   18.700000   12.300000   25.632800   12.600000
75%    2.166000e+05   21.400000   14.100000   29.462300   15.200000
max    1.056970e+06   30.700000   17.800000   40.216330   27.800000

        wellbeing
count  309.000000
mean     7.417607
std      0.235339
min      6.610000
25%      7.280000
50%      7.410000
75%      7.540000
max      8.100000